// enter Spend
// This page gives a brief display for the user to focus on spending their extra money
extends layout

block content

	h1 Decide How You Want to Spend Your Money
	
	h2 You have EXTRA for the year.
	p Have you decided what you want to do with all that money?
	p Go ahead. Dream it up!
	p Now go to Add Some Spending below, but this time you'll be spending on something you WANT, not something you NEED.
	
	hr
	footer
		include navigation
		form(action='/logout' method='get')
			input(type="submit" value="Logout")