// enter Spend

form(action="plans/enterData" method="post")
input(type="sumbit" value="Enter My Planned Spending")
form(action="plans/dataDashboard" method="post")
input(type="sumbit" value="See My Spending Plan Summary")
form(action="plans/planItems" method="post")
input(type="sumbit" value="Plan My Spending")