// enter categories for Plan To Spend
// The Categories model is:
//	housing: String,
//	creditCards: [String],
//	utils: [String],
//	carPayment: String, (don't need any user input - just yes no)
//	carIns: String, (don't need any user input - just yes no)
//	healthIns: String, (don't need any user input - just yes no)
//	mine: [String],
//	loans: [String],
//	savings: [String]
extends layout

block content
	h1 The define categories page
	h2 Step 1:  Define Your Spending Categories
	p
		form(action="setCats" method="post")
			h3 Income
			p
			label Income (up to 5)
				ul
					li 
						input(type="text" name="income1")
					li 
						input(type="text" name="income2")
					li 
						input(type="text" name="income3")
					li 
						input(type="text" name="income4")
					li 
						input(type="text" name="income5")
			h3 Housing
			p
			input(type="radio", name="housing", value="mortgage", checked="")
			| Mortgage
			input(type="radio", name="housing", value="rent", checked="")
			| Rent
			h3 Utilities
			p
			label Utilities(up to 4)
				ul
					li 
						input(type="text" name="util1")
					li 
						input(type="text" name="util2")
					li 
						input(type="text" name="util3")
					li 
						input(type="text" name="util4")
			h3 Cell Phone
			p
			label Cell Phone (up to 2)
				ul
					li 
						input(type="text" name="cell1")
					li 
						input(type="text" name="cell2")
			h3 Car Payment
			p
			label Car Payment(up to 3)
				ul
					li 
						input(type="text" name="carPayment1")
					li 
						input(type="text" name="carPayment2")
					li 
						input(type="text" name="carPayment3")
			h3 Car Insurance
			p
			label Car Insurance(up to 3)
				ul
					li 
						input(type="text" name="carIns1")
					li 
						input(type="text" name="carIns2")
					li 
						input(type="text" name="carIns3")
			h3 Health Insurance
			p
			label Health Insurance
				input(type="text" name="healthIns")
			h3 Medical
			p
			label Medical (up to 2)
				ul 
					li 
						input(type="text" name="medical1")
					li 
						input(type='text' name='medical2')
			h3 Dental
			p
			label Dental
				input(type="text" name="dental")
			h3 Credit Cards
			p Now you'll enter your credit cards. Enter a phrase that will remind you what bill you're paying. Either way, I always like to put the type of card (VISA, AMEX, MC, DINERS) in the name I choose. Here are a few ideas:
				ul
					li name the card after the person who uses it most: Ann's VISA
					li name the card after the rewards type: Delta Miles AMEX
					li name it after the bank if from: USBank VISA or CitiBank VISA
					li remember to include all your cards: USBank VISA Debit
			label Credit Card Names (up to 4)
				ul
					li 
						input(type="text" name="creditCard1")
					li 
						input(type="text" name="creditCard2")
					li 
						input(type="text" name="creditCard3")
					li 
						input(type="text" name="creditCard4")
			h3 Loans
			p
			label Loans(up to 4)
				ul
					li 
						input(type="text" name="loan1")
					li 
						input(type="text" name="loan2")
					li 
						input(type="text" name="loan3")
					li 
						input(type="text" name="loan4")
			h3 Savings
			p
			label Savings(up to 5)
				ul
					li 
						input(type="text" name="saving1")
					li 
						input(type="text" name="saving2")
					li 
						input(type="text" name="saving3")
					li 
						input(type="text" name="saving4")
					li 
						input(type="text" name="saving5")
			h3 Your Categories
			p
			label My Own Categories(up to 5)
				ul
					li 
						input(type="text" name="mine1")
					li 
						input(type="text" name="mine2")
					li 
						input(type="text" name="mine3")
					li 
						input(type="text" name="mine4")
					li 
						input(type="text" name="mine5")
			h3 Taxes
			p
			label Taxes (up to 2)
				ul
					li 
						input(type="text" name="tax1")
					li 
						input(type="text" name="tax2")
			input(type="submit" value="Save My Categories")
			
	hr
	footer
		include navigation
		form(action='/logout' method='get')
			input(type="submit" value="Logout")