extends layout

block content
	h1= title
	p This is where you #{title}
	p You don't budget. You don't scrimp. You don't wait for tomorrow.
	p You make a plan ... and you spend.
	
	form(action='/login' method='post')
		input(type="submit" value="Plan My Spending")
