doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	hr
	body
		block content
	hr
	footer
		include navigation
		form(action='/logout' method='get')
			input(type="submit" value="Logout")
