// list cats jade
extends layout

// The Categories model is:
//	housing: String,
//	creditCards: [String],
//	utils: [String],
//	carPayment: String, (don't need any user input - just yes no)
//	carIns: String, (don't need any user input - just yes no)
//	healthIns: String, (don't need any user input - just yes no)
//	mine: [String],
//	loans: [String],
//	savings: [String]
extends layout
block content
	h1 Here are your categories, which you can update any time
	form(action='/updateCats' method="post")
		input(type="submit" value="Update Categories")

	form(action="/showCats" method="get")
	if(userCats.length===0)
		p You haven't chosen your categories yet.
	else
		ul
			for cat in userCats
				//p using index first #{userCats[cat]}
				ul 
					//li 
						// using index #{userCats[cat]}
					li
						is #{cat}
					
	hr
	footer
		include navigation
		form(action='/logout' method='get')
			input(type="submit" value="Logout")