// lab 12 ess login jade
extends layout
block content
	h1 Welcome the Plan To Spend Login Page
	h2 Login Here
	//authentication error messages displayed here
	if message.length>0
		p=message
	form(action="/login" method="post")
		label username
		input(type='text' name='username' required)
		br
		label password
		input(type='password' name='password' required)
		br
		input(type='submit' name='login_button' value='Login')
	h3  If it's your first visit, you can create an account here
		form(action='/signup' method='get')
				input(type='submit' value='SignUp')