// navigation to be included in all 
block navigation

	ul
		li
			a(href="/plans/enterData") Show Me My Spending
		li
			a(href="/plans/dataDashboard") Show Me My Dashboard
		li
			a(href="/plans/defineSpend") Do Some Spending