// navigation to be included in all 
block navigation

	ul
		li
			a(href="/plans/enterData") Add Some Spending
		li
			a(href="/plans/dataDashboard") Show Me My Dashboard
		li
			a(href="/plans/defineSpend") Do Some Spending
	ul
		li
			a(href='/cats/chooseCats') Choose Categories
		li
			a(href='/cats/showCats') Show Categories