extends layout

block content
	h1 Plan My Spending
	if message.length>0
		p Oops - ran into a little problem. But you can fix it:
		p #{message}
	label It's Easy
	ol
		li
			a(href='/cats/chooseCats') Choose Your Categories
		li
			a(href='/plans/enterData') Enter Spending
		li
			a(href='/plans/defineSpend') Plan to Spend
	hr
	footer
		include navigation
		form(action='/logout' method='get')
			input(type="submit" value="Logout")