extends layout

block content
	h1 Plan My Spending
	label It's Easy
	ol
		li
			a(href='/plans/enterData') Make A Plan
		li
			a(href='/plans/dataDashboard') See What's Left
		li
			a(href='/plans/enterSpend') Plan to Spend