extends layout

block content
	h1 Plan My Spending
	label It's Easy
	ol
		li
			a(href='/cats/chooseCats') Choose Your Categories
		li
			a(href='/plans/enterData') Make A Plan
		li
			a(href='/plans/defineSpend') Plan to Spend
	form(action='plans/listing' method='get')
		input(type='submit' value='Show Me My Spending')