// udpate Spend jade
extends layout

block content
	h1 The Update Page
	h2 Step 2:  Update Spending Item
	if message.length>0
		p Looks like we ran into an error. But it's an easy fix.
		p #{message}
	p
		form(action="postUpdate" method="post")
			label Enter New Spending Date
				input(type="date" name="date")
			label Category
				select(type="text" name="category")
					each cat in categories
						if (cat === '')
						else
							option #{cat}
			label Payee
				input(type="text" name="payee")
			label Description
				input(type="text" name="description")
			br
			label Budgeted Amount - Remember, this can't be changed.
				input(type="text" name="budget" readonly)
			br
			label Actual Amount
				input(type="text" name="actual")
			input(type="submit" value="Update Spend")
			
	hr
	footer
		include navigation
		form(action='/logout' method='get')
			input(type="submit" value="Logout")